.cross {
	cursor: pointer;
	top: 20px;
	left: 10px;
	width: 20px;
}
.cross:before,
.cross:after {
	content: "";
	position: absolute;
	width: 15px;
	height: 2px;
	border-radius: 5px;
	background: gray;
}
.cross:before {
	transform: rotate(45deg);
}
.cross:after {
	transform: rotate(-45deg);
}
