.header {
	height: 60px;
	display: flex;
	align-items: center;
	width: 100vw;
	padding: 15px;
	justify-content: space-between;
	color: #000;
	font-size: 20px;
	font-weight: 500;
	box-shadow: 0px 5px 35px 0px #120e420d;
}
